<article>
  <header>
    <h2>
      <%= @recipe.title %>
      [ <%= link_to 'Edit', edit_recipe_path(@recipe) %> ]
    </h2>
  </header>
  
  <h3>Ingredients:</h3>
  <p><%= @recipe.ingredients %></p>
  
  <h3>Instructions</h3>
  <p><%= @recipe.instructions %></p>
  
  <h3>Calories</h3>
  <p><%= @recipe.calories %></p>
  
  <p>Category: <%= link_to h(@recipe.category.name), category_path(@recipe.category.id) rescue 'No category found' %></p>

</article>

<p><%= link_to 'Back', recipes_path %></p>